body {
  margin: 0;
  padding: 0;
  background-color: #0a0a1f;
  color: #fff;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-color: #fff;
}

.table tbody tr:hover {
  background-color: #2d1b3f !important;
}